<h1 class="title">Products</h1>
<div class="products">
  {{#each products}}
  <div class="product">
    <img src="{{this.image}}" alt="{{this.name}}">
    <h3>{{this.name}}</h3>
    <p>{{this.price}} US</p>
     <div class="actions">
    <a href="/products/{{this._id}}">Details</a>
    <a href="/products/edit/{{this._id}}">Edit</a>
  </div>
  </div>
  {{/each}}
</div>